@model SyncMe.Models.Member
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.displayMenu == "Yes")
{
    <div class="accountPage">
        <hr />
        <div class="col-md-12">
            <div class="text-success">
                @TempData["Message"]
            </div>
            <div class="text-danger">
                @TempData["ErrorMessage"]
            </div>
        </div>
        <h3>
            @Html.ActionLink("View All Members", "Index", "Members", null, new { @class = "btn btn-primary btn-lg" })
            <br /><br />
            @Html.ActionLink("View All Events", "Index", "Events", null, new { @class = "btn btn-primary btn-lg" })
            <br /><br /><br /><br />
        </h3>
    </div>
}
else if (ViewBag.displayMenu == "Member")
{
    <div class="accountPage">
        <hr />
        <div class="col-md-12">
            <div class="text-success">
                @TempData["Message"]
            </div>
            <div class="text-warning">
                @TempData["ErrorMessage"]
            </div>
        </div>
        <h3>
            <br />
            @Html.ActionLink("My Profile", "PrivateDetails", "Members", new { id = ViewBag.Id }, new { @class = "btn btn-primary btn-lg" })
            <br /><br />
            @Html.ActionLink("My Contacts", "ViewContacts", "Members", new { id = ViewBag.Id }, new { @class = "btn btn-primary btn-lg" })
            <br /><br />
            @Html.ActionLink("My Calendar", "ViewCalendar", "Members", null, new { @class = "btn btn-primary btn-lg" })
        </h3>
        <hr />
        <div class="col-md-12">
            <h2>@Html.Label("Find Contact")</h2>
            @using (Html.BeginForm("FindContact", "Members", FormMethod.Post))
            {
                @Html.TextBoxFor(model => model.Contacts, new { placeholder = "John Smith" })
                @Html.ValidationMessageFor(model => model.Contacts)
                <button class="btn btn-primary btn-md" type="submit">Search</button>
            }
        </div>
        <div class="col-md-12">
            <div class="text-warning">
                @TempData["ErrorMessage1"]
            </div>
        </div>
        <br /><br /><br /><hr />
    </div>
}
