@model SyncMe.Models.Member
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.displayMenu == "Yes")
{
    <div class="accountPage">
        <hr />
        <div class="col-md-12">
            <div class="text-success">
                @TempData["Message"]
            </div>
            <div class="text-danger">
                @TempData["ErrorMessage"]
            </div>
        </div>
        <h3>
            @Html.ActionLink("View Parents", "Index", "Parents", null, new { @class = "btn btn-primary btn-lg" })
            <br /><br />
            @Html.ActionLink("View Children", "Index", "Children", null, new { @class = "btn btn-primary btn-lg" })
            <br /><br />
            @Html.ActionLink("View Employees", "Index", "Employees", null, new { @class = "btn btn-primary btn-lg" })
            <br /><br />
            @Html.ActionLink("View Day Cares", "Index", "DayCares", null, new { @class = "btn btn-primary btn-lg" })
            <br /><br />
            @Html.ActionLink("View All Daily Reports", "Index", "DailyReports", null, new { @class = "btn btn-primary btn-lg" })
            <br /><br /><br /><br />
        </h3>
    </div>
}
else if (ViewBag.displayMenu == "Member")
{
    <div class="accountPage">
        <hr />
        <div class="col-md-12">
            <div class="text-success">
                @TempData["Message"]
            </div>
            <div class="text-warning">
                @TempData["ErrorMessage"]
            </div>
        </div>
        <h3>
            <br />
            @Html.ActionLink("My Profile", "PrivateDetails", "Members", new { id = ViewBag.Id }, new { @class = "btn btn-primary btn-lg" })
            <br /><br />
            @Html.ActionLink("My Friends", "ViewFriends", "Members", new { id = ViewBag.Id }, new { @class = "btn btn-primary btn-lg" })
            <br /><br />
            @Html.ActionLink("My Calendar", "Calendar", "Members", null, new { @class = "btn btn-primary btn-lg" })
        </h3>
        <hr />
        <div class="col-md-12">
            <h2>@Html.Label("Find Contact")</h2>
            @using (Html.BeginForm("FindContact", "Members", FormMethod.Post))
            {
                @Html.TextBoxFor(model => model.Contacts, new { placeholder = "Calvin Calendar" })
                @Html.ValidationMessageFor(model => model.Contacts)
                <button class="btn btn-primary btn-md" type="submit">Search</button>
            }
        </div>
        <div class="col-md-12">
            <div class="text-warning">
                @TempData["ErrorMessage1"]
            </div>
        </div>
        <br /><br /><br />
    </div>
    <br /><br />
    @Html.ActionLink("Add New Event", "Create", "Events", null, new { @class = "btn btn-primary btn-lg" })
    <br /><br />
    <div class="col-md-12">
        <div id="fullCalModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="modalTitle" class="modal-title"></h4>
                    </div>
                    <h5 id="modalStart" class="modal-body"></h5>
                    <h5 id="modalEnd" class="modal-body"></h5>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="calendar"></div>
    </div>

    <script>
    $(document).ready(function () {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
            editable: true,
            year: y,
            month: m,
            date: d,
            header: {
                left: 'title',
                right: 'prev,next today,agendaDay,agendaWeek,month'
            },
            defaultView: 'month',
            minTime: 7,
            maxTime: 22,
            editable: true,
            droppable: false,
            slotMinutes: 15,
            disableResizing: false,
            events: @Html.Raw(Json.Encode(Model)),
            eventClick: function(event, jsEvent, view){
                console.log(event);
                $('#modalTitle').html(event.title);
                $('#modalStart').html(event.start.toString("MM/dd/yyyy hh:mm tt"));
                $('#modalEnd').html(event.end.toString("MM/dd/yyyy hh:mm tt"));
                $('#fullCalModal').modal();
            }
        });
    });
    </script>
}
