@model IEnumerable<SyncMe.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>All Events</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Street Address")
        </th>
        <th>
            @Html.DisplayName("City")
        </th>
        <th>
            @Html.DisplayName("State")
        </th>
        <th>
            @Html.DisplayName("Zip Code")
        </th>
        <th>
            @Html.DisplayName("Start Date")
        </th>
        <th>
            @Html.DisplayName("End Date")
        </th>
        <th>
            @Html.DisplayName("Start Time")
        </th>
        <th>
            @Html.DisplayName("End Time")
        </th>
        <th>
            @Html.DisplayName("Details")
        </th>
        <th>
            @Html.DisplayName("Set To Private")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.streetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isPrivate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
