@model IEnumerable<SyncMe.Models.GroupSyncRequest>

@{
    ViewBag.Title = "ViewGroupSyncRequests";
}

<h2>Pending Group Sync Requests</h2>

<hr />
<div class="col-md-12">
    <div class="text-success">
        @TempData["Message"]
    </div>
    <div class="text-warning">
        @TempData["ErrorMessage"]
    </div>
</div>
<hr />
<p>
    @Html.ActionLink("Back", "ViewCalendar", null, new { @class = "btn btn-primary btn-md" })
</p>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Date Recieved")
        </th>
        <th>
            @Html.DisplayName("Profile Picture")
        </th>
        <th>
            @Html.DisplayName("Creator")
        </th>
        <th>
            @Html.DisplayName("Invited")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <img src="@Url.Action("SelectPicture", "Profiles", new { id = item.Sender.Id })" alt="" class="profile-picture" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.FirstName)
                @Html.DisplayFor(modelItem => item.Sender.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receivers.Count)
            </td>
            <td>
                @Html.ActionLink("Accept", "AcceptGroupSyncRequest", new { id = item.Id })
                <br />
                @Html.ActionLink("Deny", "DenyGroupSyncRequest", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back", "ViewCalendar", null, new { @class = "btn btn-primary btn-md" })
</p>

