@model SyncMe.Models.Profile

@{
    ViewBag.Title = "Details";
}

<br /><br />
<div>
    <img src="@Url.Action("SelectPicture", new { id = Model.Id })" alt="" style="padding-left: 87px;" />
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("First Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayName("Last Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayName("Age")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayName("State")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayName("Company")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayName("Education")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

        <dt>
            @Html.DisplayName("Phone #")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Member's Account Info", "Details", "Members", new { id = Model.Member.Id }, null)
        <br />
        @Html.ActionLink("Edit ", "Edit", new { id = Model.Id })
        <br />
        @Html.ActionLink("Back to List", "Index")
    }
    else
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        <br />
        @Html.ActionLink("Back", "ViewCalendar", "Members")
    }
</p>
