@model IEnumerable<SyncMe.Models.Profile>

@{
    ViewBag.Title = "Index";
}

<h2>SyncMe Profiles</h2>

<hr />
<div class="col-md-12">
    <div class="text-success">
        @TempData["Message"]
    </div>
    <div class="text-warning">
        @TempData["ErrorMessage"]
    </div>
</div>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Profile Picture")
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Age")
        </th>
        <th>
            @Html.DisplayName("State")
        </th>
        <th>
            @Html.DisplayName("Company")
        </th>
        <th>
            @Html.DisplayName("Education")
        </th>
        <th>
            @Html.DisplayName("Phone #")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Action("SelectAllPictures")" alt=""/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                <br />
                @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                <br />
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }else
            {
                @Html.ActionLink("Send Contact Request", "SendContactRequest", "Members", new { id = item.Id }, null)
            }

        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("Back", "Index", "Users")
</p>
