@model IEnumerable<SyncMe.Models.Profile>

@{
    ViewBag.Title = "Search";
}

<br />
<div class="col-md-12">
    <div class="text-warning">
        @TempData["ErrorMessage"]
    </div>
    <div class="text-success">
        @TempData["Message"]
    </div>
</div>
<div class="col-md-12">
    <h2>@Html.Label("Search")</h2>
    @using (Html.BeginForm("SearchResults", "Profiles", FormMethod.Get))
            {
        <input type="text" name="name" />
        <button class="btn btn-primary btn-sm" type="submit">Search</button>
    }
</div>
<br /><br /><br /><br /><br /><br />
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Profile Picture")
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Age")
        </th>
        <th>
            @Html.DisplayName("State")
        </th>
        <th>
            @Html.DisplayName("Company")
        </th>
        <th>
            @Html.DisplayName("Education")
        </th>
        <th>
            @Html.DisplayName("Phone #")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Action("SelectPicture", new { id = item.Id })" alt="" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Send Contact Request", "SendContactRequest", "Members", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
<hr />
<p>
    @Html.ActionLink("Done", "ViewCalendar", "Members")
</p>